<main class="container mx-auto mt-28 max-w-7xl px-2 sm:px-6 lg:px-8 text-center">
  <div class="py-10 px-6 sm:px-12 md:px-24 lg:px-32 xl:px-40 2xl:px-48 bg-white rounded-lg shadow-xl">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Success!</h1>
    <p class="text-lg text-gray-700 mb-4">Your payment has been successfully processed.</p>
    <p class="text-md mb-8 text-gray-600">Thank you for your purchase. We appreciate your trust in us and look forward to serving you again.</p>
    <%= link_to 'Continue Shopping', root_path, class: "inline-block bg-green-500 text-white font-medium py-2 px-4 rounded hover:bg-green-600 transition-colors" %>
  </div>
</main>
